.home_one_bg {
    @apply w-full min-h-screen;
    background-image: url('/public/assets/images/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home_one_bg_inside {
    @apply w-full min-h-screen absolute left-0 top-0 z-0;
    background-color: rgba(0, 0, 0, 0.326);
    background-size: cover;
    background-repeat: no-repeat;
}


// BG

.project_bg {
    @apply bg-zinc-800 text-white min-h-screen w-full flex flex-col items-center gap-4 py-16 px-4;
}

// padding: 1rem //all

// padding: 1rem 2rem // top sides

// padding: 1rem 2rem 1rem 2rem // top right bottom left