body {
    font-size: 16px;
}


.card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .title button {
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
    font-weight: 600;
}
.card .title button:hover {
    color: red;
}


.card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(254, 188, 188);
}

.dark {
    background: rgb(12, 12, 12);
    color: rgb(224, 224, 224);
}